body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.fontColorVW{
    color: #00315B
}

.PrivateValueLabel-offset-395 {
    color: #00315B !important;
}

#wave {
    position: relative;
    height: 30px;
    width: 300px;
    background: #e0e0e0;
}

#wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 180px;
    height: 40px;
    background-color: white;
    right: -0.5px;
    top: 19px;
    border-top: 3px solid #00315B;
    opacity: 0;
}

#wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    border-bottom: 2px solid #00315B;
    width: 300px;
    height: 30px;
    background-color: #e0e0e0;
    left: -15px;
    top: 13px;
    transform: rotate(-3deg)
}

.text-shorter{
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.dashboardBackground {
    background: #F5F7FA;
}

.fullScreen {
    height: 100vh;
    width: 100vw;
}

.marginZero {
    margin: 0;
}

.center-el {
    margin: auto;
}

.containerColumnCustom {
    padding-left: 0.5vw;
    padding-right: 0;
}

.buttonDashboardRow {
    padding: 0;
    width: 5vw;
    max-width: 50px;
}

.resizeableColInRow {
    flex: 1;
}

.fontBold {
    font-weight: bold;
}

.fontDefaultSize {
    font-size: 15px;
}

.dashboardHeader {
    padding: 1.25vh
}

.linkSpaces {
    color: #00315B !important;
}

.triangle {
    width: 90%;
    height: 0;
    border-style: solid;
    border-width: 50px 135px 0 135px;
    border-color: rgb(211, 218, 230) transparent transparent transparent;
}
.factoryTriangle{
    width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 17px solid #3F51B5;
	margin: 0px auto 0;
}

.spaceHover:hover {
    position: relative;
    top: -1px;
    cursor: pointer;
    -webkit-box-shadow: 5px 8px 24px 5px rgba(189, 189, 189, 0.74);
    -moz-box-shadow: 5px 8px 24px 5px rgba(189, 189, 189, 0.74);
    box-shadow: 5px 8px 24px 5px rgba(189, 189, 189, 0.74);
}

.flowTableCard {
    width: 300px;
}

.flowStatsCard{
    width: 200px
}

.flowchartArrow {
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    margin-bottom: 20px;
    width: 200px;
}

.flowTable{
    max-height: 300px;
    margin-bottom: 175px;
    margin-right: 20px;
}

.listSelectDate:hover {
    color: #1A1A1A;
    font-weight: bold;
}
.selectClass {
    color: #0d47a1;
    font-weight: bold;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Text instead icon or icon instead text */
.prodkutionUmlaufBtn span .text {
    display:inline-block;
}
.prodkutionUmlaufBtn span .icon {
    display: none
}

.tableRowMinCell td{
    fontSize: 10px;
    margin: 1px 5px;
    padding: 1px 5px;
}


.audit2ndLvlZoom {
    zoom: 0.9;
    -moz-transform: scale(0.9);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.9);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    transform: scale(0.9);
    transform-origin: 0 0;
}

.recharts-legend-item {
    font-size: 0.75rem
}

.CalendarDay__selected {
   background: rgb(63,81,181) !important;
   color: white;
}

.CalendarDay__selected_span {
    background: rgb(63,81,181) !important;
    color: white;
    border: 1px double rgb(63,81,181) !important;
    opacity: 0.75;
}

.CalendarDay__selected_start,
.CalendarDay__selected_end {
    background: rgb(63,81,181) !important;
    border: 1px double rgb(63,81,181) !important;
    color: #fff;
}

.CalendarDay__hovered_span, .CalendarDay__hovered_span:hover{
    background:rgb(63,81,181) !important;
    border: 1px double rgb(63,81,181) !important;;
    color: #fff !important;
    opacity: 0.75;
}

.DateInput_input__focused{
    border-bottom: 2px solid  rgb(63,81,181) !important;
}

.badge {
    display: inline-block;
    min-width: 1em; /* em unit */
    padding: .15em; /* em unit */
    margin-left: 5px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    background: #0d47a1;
    color: #f5f5f5;
}

.umlaufverweildauer {
    border-right: 1px solid #CCC;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    zIndex: 1;
}

.pie-row {
    justify-content: space-between;
    display: flex;
    height: 550px;
    margin-top: 15px;
}
.pie-row .pie-wrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    border: 2px solid white;
    height: 210px;
    text-align: center;
    border-radius: 3px;
}

.pie-row .pie-wrap > div {
    background: red;
    margin: 0 auto;
}

.login-button:hover {
    background-color: #004078 !important;
}


@media only screen and (max-width: 1500px) {
    .triangle {
        border-width: 35px 115px 0 115px;
    }

}

@media only screen and (max-width: 1400px) {
    .triangle {
        border-width: 35px 105px 0 105px;
    }
    .flowTableCard {
        width: 240px;
        margin-left: 20px;
    }

    .flowStatsCard{
        width: 180px
    }

    .flowchartArrow {
        padding: 5px;
        text-align: center;
        white-space: nowrap;
        font-size: 15px;
        margin-bottom: 20px;
        width: 120px;
    }
    .flowTable{
        margin-bottom: 155px;
    }
}

@media only screen and (max-width: 1300px) {
    .triangle {
        border-width: 35px 105px 0 105px;
    }
    .flowTable{
        margin-bottom: 130px;
    }
    .flowTableCard {
        width: 240px;
    }
}

@media only screen and (max-width: 1260px) {
    .triangle {
        border-width: 35px 90px 0 90px;
    }
    .flowTable{
        margin-bottom: 130px;
    }
    .flowTableCard {
        width: 240px;
    }
}

@media only screen and (max-width: 1180px) {
    .triangle {
        border-width: 35px 85px 0 85px;
    }
    .flowTable{
        margin-bottom: 130px;
    }
}


@media only screen and (max-width: 1050px) {
    .flowchartStyle{
        max-height: 100%;
        overflow-x: auto
    }

    .triangle {
        border-width: 35px 75px 0 75px;
    }

    .flowTableCard {
        width: 175px;
    }

    .flowStatsCard{
        width: 120px
    }
    .flowTable{
        max-height: 290px;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 950px) {

    .triangle {
        border-width: 35px 70px 0 70px;
    }
    .flowTableCard {
        width: 140px;
    }

    .flowStatsCard{
        width: 100px
    }
    .flowTable{
        max-height: 250px;
        margin-bottom: 83px;
    }
    .prodkutionUmlaufBtn span .text {
        display:none
    }
    .prodkutionUmlaufBtn span .icon{
        display: inline-grid;
    }
}
@media only screen and (max-width: 850px) {

    .triangle {
        border-width: 35px 55px 0 55px;
    }
}

@media only screen and (max-width: 820px) {

    .triangle {
        border-width: 35px 60px 0 60px;
    }
}

@media only screen and (max-width: 785px) {

    .triangle {
        border-width: 35px 50px 0 50px;
    }
}

@media only screen and (max-width: 700px) {

    .triangle {
        border-width: 35px 35px 0 35px;
    }
}

@media only screen and (max-width: 500px) {

    .triangle {
        border-width: 30px 30px 0 30px;
    }

    .flowTableCard {
        width: 100px;
    }

    .flowStatsCard{
        width: 80px;
    }

    .flowchartArrow {
        padding: 2px;
        text-align: center;
        white-space: nowrap;
        font-size: 10px;
        margin-bottom: 20px;
        width: 80px;
    }
}
